/** fonts **/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&display=swap');
/**
colors i want to use
#f40234	(244,2,52) red
#f0532c	(240,83,44) orange
#f0882f	(240,136,47) yellow
#688b2e	(104,139,46) green
#013f73	(1,63,115) Blue
**/

/** main style elements **/
body {
    font-family: "Kode Mono", 'Chakra Petch', sans-serif;
    text-align: center;
    background-image: linear-gradient(135deg, #f40234, #f0882f, #ffe600, #63a000, #0059a1);
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

/** Icon **/

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-bottom: 25px;
    text-shadow: 0 0 10px #000000;
}

/** play area **/

#playarea {
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100vh;
    width: 85%;
    max-height: 750px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
}

/**  Playable Button Styles **/
.pbutton {
    padding-top: 15px;
    background-color: transparent;
    border: transparent;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    margin: 0 15px 5px;
    flex: 1 1 calc(20% - 30px);
    max-width: 150px;
}

.pbutton:hover {
    cursor: pointer;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 80px;
}

#rockbutton {
    color: #f40234;
}

#paperbutton {
    color: #f0882f;
}

#scissorsbutton {
    color: #ffe600;
}

#lizardbutton {
    color: #63a000;
}

#spockbutton {
    color: #2794ec;
}

/** rules **/

/** main style for the rules section **/
#rulesoverlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 510px;
    background-color: #d0eaff;
    z-index: 100;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: left;
}

/** displays the rules **/

#rulesoverlay.show {
    display: block;
}

#rules {
    position: relative;
}

#hiderules {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 5px 5px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}
/** media query **/

@media screen and (max-width: 769px) {
    .pbutton {
        width: 60px;
        height: 60px;
        font-size: 3rem;
        margin: 5px;
    }

    #playarea {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        height: auto;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .score {
        margin-top: auto;
        display: flex;
        width :100% ;
        height: 10px;
        justify-content: space-around;
        border-top: 3px solid #000;
    }

    .scores {
        margin: 0 10px;
    }

    .rules {
        margin-top: auto;
    }

    #displayPlayerChoice, #displayRandomChoice, #result {
        font-weight: bold;
        margin-bottom: 5px;
    }

    #displayPlayerChoice, #displayRandomChoice {
        font-size: 1.2rem;
    }

    #result {
        font-size: 1.5rem;
    }
}