/** fonts **/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&display=swap');


/** main style elements **/
body {
    font-family: "Kode Mono", 'Chakra Petch', sans-serif;
    text-align: center;
    background-image: linear-gradient(135deg, #f40234, #f0882f, #ffe600, #63a000, #0059a1);
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

/** Icon **/

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    padding-bottom: 25px;
    text-shadow: 0 0 10px #000000;
    color: #f40234;
}

/** play area **/

#playarea {
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100vh;
    width: 85%;
    max-height: 750px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

/** rules buttons **/

#showrules {
    border-radius: 25px;
    height: 30px;
    background-color: #fff;
    font-weight: bold;
    font-family: "Kode Mono", 'Chakra Petch', sans-serif;
}

#showrules:hover {
    background-image: linear-gradient(135deg, #f4023499, #f0882f99, #ffe60099, #63a00099, #0059a199);
    color: #fff;
    background-color: #000000;
    box-shadow:2px 2px 4px #000000;
}

/**  Playable Button Styles **/
.pbutton {
    padding-top: 15px;
    background-color: transparent;
    border: transparent;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    margin: 0 15px 5px;
    flex: 1 1 calc(20% - 30px);
    max-width: 150px;
    transition: 0.2s;
}

.pbutton:hover {
    cursor: pointer;
    font-size: 4.5rem;
    text-shadow: 0 0 4px currentColor;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 80px;
}

/** choices **/
#rockbutton {
    color: #f40234;
}

#paperbutton {
    color: #f0882f;
}

#scissorsbutton {
    color: #ffe600;
}

#lizardbutton {
    color: #63a000;
}

#spockbutton {
    color: #2794ec;
}

/** main style for the rules section **/
#rulesoverlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 510px;
    background-color: #d0eaff;
    z-index: 100;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: left;
}

/** displays the rules **/

#rulesoverlay.show {
    display: block;
}

#rules {
    position: relative;
}

#rules p {
    font-weight: bold;
}

/** hide button for the rules **/
#hiderules {
    position: absolute;
    top: -25px;
    right: -5px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 5px 5px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

/** media query **/

/** screen style for screens larger than a tablet **/
@media screen and (min-width: 770px) {

    /** playarea **/
    #playarea {
        flex-direction: column;
    }

    .button-container {
        position: relative;
        width: 400px;
        height: 400px;
        margin-bottom: 100px;
    }

    .pbutton {
        position: absolute;
        width: 120px;
        height: 120px;
        font-size: 3rem;
    }

    /** rock **/
    #rockbutton {
        position: absolute;
        top: 0%;
        left: 47%;
        transform: translate(-50%, -50%);
    }

    .rock-title {
        position: absolute;
        top: 5%;
        left: 46%;
    }

    /** paper **/
    #paperbutton {
        position: absolute;
        top: 45%;
        left: 110%;
        transform: translate(-50%, -50%);
    }

    .paper-title {
        position: absolute;
        top: 49%;
        right: -20%;
    }

    /** scissors **/
    #scissorsbutton {
        position: absolute;
        top: 110%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .scissors-title {
        position: absolute;
        top: 114%;
        left: 68%;
    }

    /** lizard **/
    #lizardbutton {
        position: absolute;
        top: 110%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .lizard-title {
        position: absolute;
        top: 114%;
        left: 11%;
    }

    /** spock **/
    #spockbutton {
        position: absolute;
        top: 45%;
        left: -15%;
        transform: translate(-50%, -50%);
    }

    .spock-title {
        position: absolute;
        top: 49%;
        left: -18%;
    }

    /** wins, loses, draws and scores **/
    .center-content {
        position: absolute;
        margin-top: 0;
        top: 480px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #displayPlayerChoice,
    #displayRandomChoice,
    #result {
        margin-top: 10px, 0;
    }

    #scorebox {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        width: 100%;
        max-width: 500px;
        margin-top: 20px;
    }

    .rules {
        position: relative;
        margin-top: 20px;
    }
}

/** style for mobiles **/
@media screen and (max-width: 769px) {

    /** playable buttons **/
    .pbutton {
        width: 60px;
        height: 60px;
        font-size: 2rem;
        margin: 5px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    #playarea {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        height: auto;
    }

    /** score area **/
    .score {
        margin-top: 20px;
    }

    .rules {
        margin-top: auto;
    }

}